<launch>
<param name="caughtStatus" value="False"/>
<node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node"/>
<node pkg="project_turtlesim" type="goal_4_circle.py" name="Rotating_in_Circle" output="screen"/>
<node pkg="project_turtlesim" type="spawn_second_turtle.py" name="second_turtle"/>
<node pkg="project_turtlesim" type="goal_5_chasing_with_plan.py" name="chaser" output="screen"/>
</launch>